<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "Variables.wxi" ?>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="qif2json"></Directory>
      </Directory>
      <!-- Qif2Json Start menu folder -->
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="Qif2JsonProgramMenuFolder" Name="Qif2Json">
          <Component Id="qif2json.shortcut" Guid="{57982AD1-B12F-4B87-BE0C-4794E76AF111}">
            <!-- 
							Fix ICE 38 by adding a dummy registry key that is the key for this shortcut.
							http://msdn.microsoft.com/library/en-us/msi/setup/ice38.asp
						-->
            <RegistryValue Root="HKCU" Key="Software\Qif2Json" Name="installed" Type="integer" Value="1" KeyPath="yes" />

            <Shortcut Id="Qif2JsonStartMenuShortcut"
                      Name="QIF to JSON"
                      Description="QIF to JSON conversion tool"
                      Target="[%ComSpec]"
                      Arguments='/k "[!qif2json.exe]"'
                      WorkingDirectory="INSTALLFOLDER" Show="normal" />

            <Shortcut
              Name="License"
              Target="[!LICENSE.txt]"
              Id="Qif2JsonLicenseStartMenuShortcut"
              WorkingDirectory="INSTALLFOLDER"
              Directory="Qif2JsonProgramMenuFolder" />
            <!--
							Fix ICE64 by adding a remove folder element 
							http://windowssdk.msdn.microsoft.com/en-us/library/ms704358.aspx
						-->
            <RemoveFolder Id="RemoveQif2JsonProgramMenuFolder" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>