<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include "Variables.wxi" ?>
  <Product
    Id="*"
    Name="QIF to JSON converter tool"
    Language="1033"
    Version="$(var.Version)"
    Manufacturer="Alexander Egorov"
    UpgradeCode="D2B34239-7C20-4D52-8998-A855E5A45E1B">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--
			Check for .NET 4.5
		-->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This setup requires the .NET Framework 4.5 or higher.">
      Installed OR NETFRAMEWORK45
    </Condition>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Qif2Json.install" Level="1">
      <ComponentGroupRef Id="qif2json" />
      <ComponentRef Id="qif2json.shortcut" />
    </Feature>

    <UIRef Id="WixUI_Minimal" />
  </Product> 
</Wix>