<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define Version = "1.0.0.0" ?>
    <Bundle
        Name="qif2json"
        Version="$(var.Version)"
        Manufacturer="Alexander Egorov"
        UpgradeCode="D016EBE2-F4F8-4247-8D22-D692DBEEDEB6"
        Condition="VersionNT > v5.2">

        <WixVariable Id="WixStdbaThemeXml" Value="Theme.xml" />
        <WixVariable Id="WixStdbaThemeWxl" Value="Theme.wxl" />
        <WixVariable Id="WixStdbaLicenseUrl" Value="LICENSE.txt" />

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <Payload SourceFile="..\LICENSE.txt" Compressed="yes" />
        </BootstrapperApplicationRef>

        <Chain>
            <PackageGroupRef Id="NetFx45Redist"/>
            <RollbackBoundary />
            <MsiPackage SourceFile="..\qif2json.setup\bin\$(var.CONFIGURATION)\qif2json.setup.msi" />
        </Chain>
    </Bundle>
</Wix>